.nav-bar-header {
  float: right;
  background-color: azure;
  .menu-item {
    padding: 16px;
    color: darkgrey;
    font-size: 2rem;
    text-decoration: none;
    &:hover {
      background: skyblue;
    }
  }
}
